@{
    ViewData["Title"] = "Default";
}

@if (ViewBag.Naam is not null)
{
    <div class="d-flex align-items-center">
        <p class="text-white mb-0 mr-2">Welkom @ViewBag.Naam!</p>
        <a asp-controller="Home" asp-action="Uitloggen" class="text-white btn btn-primary huiskleur">Uitloggen</a>
    </div>
}


