@model NieuweActiecodeViewModel;

@{
    ViewData["Title"] = "Create";
}


<h1 class="mb-3">Maak een nieuwe Actiecode</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
         
            <div class="mb-3">
                <label asp-for="GeldigVanDatum" class="control-label"></label>
                <input asp-for="GeldigVanDatum" class="form-control" /> 
                <span asp-validation-for="GeldigVanDatum" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="GeldigTotDatum" class="control-label"></label>
                <input asp-for="GeldigTotDatum" class="form-control" /> 
                <span asp-validation-for="GeldigTotDatum" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEenmalig" /> @Html.DisplayNameFor(model => model.IsEenmalig)
                </label>
            </div>
            
            <div class="d-flex gap-2 mt-3">
                <input type="submit" value="Toevoegen" class="btn huiskleur" />
                <a asp-action="Index" class="btn btn-terug">Terug</a>
            </div>

        </form>
        <div style="height: 80px;"></div>
        <br />
        <p class="text-danger">@ViewBag.bestaandeActiecode</p>

    </div>
</div>

<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

