@model PrulariaAankoopData.Models.Artikel

@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-3">Maak een nieuwe Artikel</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Ean" class="control-label">Ean (wordt automatisch gegenereerd, waarde kan niet veranderd worden)</label>
                <input asp-for="Ean" class="form-control" value="1" readonly/>
                <span asp-validation-for="Ean" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Prijs" class="control-label"></label>
                <input asp-for="Prijs" class="form-control" type="number" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="GewichtInGram" class="control-label">Gewicht in gram</label>
                <input asp-for="GewichtInGram" class="form-control" />
                <span asp-validation-for="GewichtInGram" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Bestelpeil" class="control-label"></label>
                <input asp-for="Bestelpeil" class="form-control" />
                <span asp-validation-for="Bestelpeil" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Voorraad" class="control-label"></label>
                <input asp-for="Voorraad" class="form-control" />
                <span asp-validation-for="Voorraad" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="MinimumVoorraad" class="control-label">Minimumvoorraad</label>
                <input asp-for="MinimumVoorraad" class="form-control" />
                <span asp-validation-for="MinimumVoorraad" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="MaximumVoorraad" class="control-label">Maximumvoorraad</label>
                <input asp-for="MaximumVoorraad" class="form-control" />
                <span asp-validation-for="MaximumVoorraad" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AantalBesteldLeverancier" class="control-label">Aantal besteld leverancier</label>
                <input asp-for="AantalBesteldLeverancier" class="form-control" />
                <span asp-validation-for="AantalBesteldLeverancier" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="MaxAantalInMagazijnPlaats" class="control-label">Maximum aantal in magazijn</label>
                <input asp-for="MaxAantalInMagazijnPlaats" class="form-control" />
                <span asp-validation-for="MaxAantalInMagazijnPlaats" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LeveranciersId" class="control-label">Leverancier</label>
                <select asp-for="LeveranciersId" class ="form-control" asp-items="ViewBag.LeveranciersId"></select>
            </div>
            <div class="d-flex gap-2 mt-3">
                <input type="submit" value="Create" class="btn huiskleur"/>
                <a asp-action="Index" class="btn btn-terug">Terug</a>
            </div>
        </form>
        <div style="height: 80px;"></div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
