@model PrulariaAankoopData.Models.ArtikelViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="mb-3">Edit Artikel</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Artikel.ArtikelId" />
            <div class="mb-3">
                <label asp-for="Artikel.Ean" class="control-label"></label>
                <input asp-for="Artikel.Ean" class="form-control" readonly/>
                <span asp-validation-for="Artikel.Ean" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Artikel.Naam" class="control-label"></label>
                <input asp-for="Artikel.Naam" class="form-control" />
                <span asp-validation-for="Artikel.Naam" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Artikel.Beschrijving" class="control-label"></label>
                <input asp-for="Artikel.Beschrijving" class="form-control" />
                <span asp-validation-for="Artikel.Beschrijving" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Artikel.Prijs" class="control-label"></label>
                <input asp-for="Artikel.Prijs" class="form-control" />
                <span asp-validation-for="Artikel.Prijs" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Artikel.GewichtInGram" class="control-label">Gewicht in gram</label>
                <input asp-for="Artikel.GewichtInGram" class="form-control" />
                <span asp-validation-for="Artikel.GewichtInGram" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Artikel.Bestelpeil" class="control-label"></label>
                <input asp-for="Artikel.Bestelpeil" class="form-control" />
                <span asp-validation-for="Artikel.Bestelpeil" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Artikel.Voorraad" class="control-label"></label>
                <input asp-for="Artikel.Voorraad" class="form-control" readonly/>
                <span asp-validation-for="Artikel.Voorraad" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Artikel.MinimumVoorraad" class="control-label">Minimum voorraad</label>
                <input asp-for="Artikel.MinimumVoorraad" class="form-control" />
                <span asp-validation-for="Artikel.MinimumVoorraad" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Artikel.MaximumVoorraad" class="control-label">Maximum voorraad</label>
                <input asp-for="Artikel.MaximumVoorraad" class="form-control" />
                <span asp-validation-for="Artikel.MaximumVoorraad" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Artikel.Levertijd" class="control-label"></label>
                <input asp-for="Artikel.Levertijd" class="form-control" />
                <span asp-validation-for="Artikel.Levertijd" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Artikel.AantalBesteldLeverancier" class="control-label">Aantal besteld bij leverancier</label>
                <input asp-for="Artikel.AantalBesteldLeverancier" class="form-control" />
                <span asp-validation-for="Artikel.AantalBesteldLeverancier" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Artikel.MaxAantalInMagazijnPlaats" class="control-label">Max aantal in magazijn</label>
                <input asp-for="Artikel.MaxAantalInMagazijnPlaats" class="form-control" />
                <span asp-validation-for="Artikel.MaxAantalInMagazijnPlaats" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Artikel.LeveranciersId" class="control-label">Leverancier</label>
                <select asp-for="Artikel.LeveranciersId" class="form-control" asp-items="ViewBag.LeveranciersId"></select>
                <span asp-validation-for="Artikel.LeveranciersId" class="text-danger"></span>
            </div>
            <div class="d-flex gap-2 mt-3">
                <input type="submit" value="Opslaan" class="btn huiskleur" />
                <a asp-action="Index" class="btn btn-terug">Terug</a>
            </div>
        </form>
        <div style="height: 80px;"></div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
