@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-success">Categorie succesvol verwijderd</h2>

<p>De categorie is succesvol verwijderd uit het systeem.</p>

<a asp-action="Index" class="btn btn-primary">Terug naar overzicht</a>
